<mat-grid-list cols="2" gutterSize="0" rowHeight="50%">
    <mat-grid-tile>
        <mat-card style="height: -webkit-fill-available; width: 100%;">
            <mat-card-title>Lefty</mat-card-title>
            <mat-card-content>Lefty's Content Here</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="height: -webkit-fill-available; width: 100%;">
            <mat-card-title>Righty</mat-card-title>
            <mat-card-content>Righty's Content Here</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card style="height: -webkit-fill-available; width: 100%;">
            <mat-card-title>Bottom</mat-card-title>
            <mat-card-content>Bottom's Content Here</mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>