.confidential-banner {
    background-color: blue;
    font-weight: bold;
    color: white;
    text-align: center;
}

.secret-banner {
    background-color: red;
    font-weight: bold;
    color: white;
    text-align: center;
}

.top-secret-banner {
    background-color: yellow;
    font-weight: bold;
    color: black;
    text-align: center;
}

.unclassified-banner {
    background-color: green;
    font-weight: bold;
    color: white;
    text-align: center;
}