<mat-card>
    <mat-card-title>
        Internal Scrolling
    </mat-card-title>
    <mat-card-subtitle>
        Card size is fixed; card content scrolls
    </mat-card-subtitle>
    <div class="scrolling-content">
        <mat-card-content>
            <p>This will be a good place for a dashboard component to summarize recent changes, etc.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel eros massa. Cras vehicula, purus
                sed
                dictum ultricies, est tortor aliquet eros, sit amet volutpat libero nisi ac justo. Vivamus dolor metus,
                pulvinar nec lectus cursus, porttitor porttitor enim. Curabitur ante quam, maximus posuere porta non,
                tempor
                id nisl. In hac habitasse platea dictumst. Donec ac mi tempus, tincidunt metus vel, pharetra libero. Sed
                id
                ex neque. Cras sit amet maximus est. Maecenas euismod mi sed dignissim lobortis. Duis efficitur eros nec
                leo
                sagittis, a dapibus orci vehicula. Quisque bibendum porttitor sapien, ac ultrices nisl porta varius.
                Quisque
                consequat neque tellus, ut facilisis dolor tincidunt in. Vivamus ullamcorper posuere nisi ullamcorper
                lobortis.
            </p>
            <p>
                Nulla et massa ac leo cursus molestie. Vestibulum fringilla lacus a ex interdum, feugiat maximus nunc
                accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Vestibulum
                dapibus, quam at aliquet lobortis, ante diam facilisis orci, quis mollis elit diam id lectus. Morbi
                consectetur, ante sit amet ullamcorper eleifend, ipsum dui molestie orci, lobortis ullamcorper libero
                lectus
                non tortor. Duis vel pellentesque ligula. Pellentesque fermentum porttitor eros, sed lobortis sem.
            </p>
            <p>
                Sed gravida diam est, nec ultricies augue eleifend eu. Cras in mi lorem. Nulla massa arcu, tempus eget
                vulputate sit amet, scelerisque et arcu. Mauris porta lectus felis, ut rutrum lacus vulputate sit amet.
                Phasellus rhoncus turpis nec metus blandit dictum. Sed dignissim porttitor ligula, pellentesque
                scelerisque
                purus pretium non. Sed feugiat elit non quam vestibulum, at dignissim augue pretium. Fusce feugiat
                lacinia
                mi ac blandit.
            </p>
            <p>
                Curabitur volutpat porttitor lorem et interdum. Proin semper nisl nec nisl venenatis vestibulum. Nunc
                rhoncus eget purus eu lobortis. Integer vel sapien nec diam maximus placerat. Nunc quis nisl finibus,
                dapibus massa ac, euismod elit. Aenean posuere sapien tincidunt dui malesuada, ac fringilla turpis
                suscipit.
                Nam vitae turpis fringilla, luctus ex sed, semper dolor. Aliquam viverra ante lacus, vitae aliquam nibh
                dictum sit amet. Nunc tempor nisl purus, non volutpat erat ultricies quis. Pellentesque semper sem
                tempus
                laoreet rutrum. Morbi libero magna, faucibus ac lacus laoreet, tempor laoreet elit. Vestibulum pretium
                consequat dolor consequat semper. Etiam dapibus accumsan lacus eget ultrices. Proin vitae feugiat
                ligula.
                Nam tincidunt vel metus eu maximus. Vestibulum volutpat viverra dolor, a lacinia arcu pulvinar et.
            </p>
            <p>
                Donec at tristique enim. Donec quam lacus, iaculis vitae aliquet eget, dapibus nec sem. Mauris eu lectus
                lorem. Sed ut eros et ligula laoreet fringilla. Donec maximus metus sit amet augue tincidunt, ut pretium
                felis dignissim. Aliquam erat volutpat. Aliquam elementum nunc quis metus volutpat, vitae dapibus dolor
                tristique. Donec sit amet congue dolor. Nunc aliquet, nulla sit amet tristique consequat, ante ante
                dapibus
                ligula, sit amet feugiat sapien felis vel nunc.
            </p>
            <p>
                Nunc felis est, suscipit sit amet tortor placerat, convallis ultricies massa. Donec convallis odio
                mauris,
                nec finibus ante commodo ut. Curabitur ac rutrum lectus, quis aliquam dolor. Vivamus vitae enim nec
                ligula
                sodales posuere. Sed in volutpat dolor. Proin molestie justo augue, lobortis fermentum velit posuere ac.
                Phasellus non justo augue. Pellentesque eu turpis odio.
            </p>
            <p>
                Phasellus ac libero tortor. Quisque et enim leo. Mauris posuere consequat velit, quis vestibulum tortor
                pretium sed. Duis pretium odio sed eros viverra, eget auctor tellus maximus. Nulla turpis risus, tempor
                a
                magna in, congue ultricies nisi. Donec interdum mi velit, eu finibus neque rutrum at. Fusce malesuada
                magna
                ut dolor pellentesque, sed venenatis augue lobortis. Cras porta, massa a bibendum porta, neque dui
                volutpat
                ex, id scelerisque tortor libero ac ligula. Curabitur at elit ac augue posuere consequat at quis odio.
                Integer eleifend maximus tellus, quis porta dui semper non. Mauris ac enim a metus sagittis ultrices.
            </p>
            <p>
                Etiam laoreet consequat scelerisque. Proin elementum tempus laoreet. Nulla tempus velit tortor, at
                aliquet
                nisl condimentum pharetra. Aliquam non porta lectus. Orci varius natoque penatibus et magnis dis
                parturient
                montes, nascetur ridiculus mus. Nulla semper magna magna, mattis porta augue finibus non. In quis
                viverra
                nulla, ac porta urna. Vivamus sagittis leo eget urna posuere, sit amet faucibus mi pellentesque. Nunc
                mollis
                dapibus arcu quis tristique. Nullam condimentum eget magna sit amet pretium. Suspendisse a mi urna.
            </p>
            <p>
                Nunc laoreet, tortor in feugiat finibus, diam ex fringilla lectus, quis venenatis lectus est sit amet
                ligula. Nulla non vehicula massa. Vestibulum nisl dui, ultrices a consequat mattis, hendrerit non
                tellus.
                Etiam non egestas velit. Sed mollis, nisi et interdum euismod, odio ligula auctor lorem, ac egestas nibh
                eros in sapien. Morbi enim odio, eleifend in lobortis vitae, dictum id risus. Nulla lacinia odio a velit
                scelerisque ornare. Aliquam vitae aliquam erat. Nulla ac diam in turpis tempor ornare a sed mi. Nam
                tempus
                dolor eu aliquam tincidunt. Morbi imperdiet nulla hendrerit nisl tristique lacinia. Aenean blandit sem
                id
                neque mollis tincidunt. Aliquam quis elit interdum, porta libero eget, gravida mi. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Etiam mauris tellus, accumsan in dapibus sit amet, ornare et mi. Ut
                felis
                purus, laoreet at faucibus in, luctus sit amet metus.
            </p>
            <p>
                Vivamus non mi fermentum, ultricies leo quis, condimentum augue. Pellentesque maximus risus eget egestas
                euismod. Nulla sit amet turpis a sem facilisis fermentum. Nullam rutrum rhoncus orci non sagittis.
                Phasellus
                ipsum nisi, dapibus nec sollicitudin lobortis, ultricies sit amet tortor. Duis leo tortor, euismod et
                metus
                id, volutpat gravida enim. Duis ac eros ac leo feugiat tincidunt eget porta eros. Ut scelerisque metus
                nec
                tortor finibus pretium. Integer mattis et nulla sed tristique. Vivamus non eros vitae eros molestie
                ultrices. Suspendisse sollicitudin rutrum elit, eget consequat est condimentum cursus. Aenean non turpis
                vel
                nulla laoreet pretium in vel tellus.
            </p>
            <p>
                Nulla auctor, ante ac facilisis aliquam, mi ex rutrum quam, vitae tincidunt ligula dolor non felis.
                Vestibulum blandit in quam ut commodo. Curabitur rhoncus dolor nec velit convallis, et dapibus ipsum
                auctor.
                Praesent interdum dolor quis faucibus consectetur. Vestibulum varius et diam sit amet facilisis. Quisque
                egestas sem nisl, semper euismod tortor suscipit quis. Proin et risus efficitur, mollis nisi eu,
                ultrices
                lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec
                egestas laoreet arcu, sed tincidunt ligula aliquam nec. Aenean eleifend dictum lacus id tincidunt.
                Curabitur
                quam erat, euismod sed risus ac, rhoncus egestas tortor.
            </p>
            <p>
                Curabitur ultrices nisi sed porta mollis. Donec ullamcorper, sapien quis venenatis convallis, lectus
                enim
                venenatis nulla, tincidunt laoreet sapien nibh id magna. Nullam interdum nisl ac pretium egestas. Ut id
                scelerisque ex, ut vulputate mi. Curabitur id nunc eget dolor dignissim fringilla. Nullam euismod
                pharetra
                dui sagittis iaculis. Mauris commodo lorem a vehicula eleifend. Phasellus ut risus leo. Proin at dui
                interdum, bibendum mauris nec, rutrum massa. Praesent in odio interdum enim pharetra semper. In ut risus
                ac
                mi pulvinar aliquet. Nam feugiat fermentum metus posuere elementum. Pellentesque habitant morbi
                tristique
                senectus et netus et malesuada fames ac turpis egestas. Nunc lacus eros, dictum id risus ut, viverra
                vestibulum velit. Suspendisse non nisl a justo feugiat tempus. Nunc imperdiet sapien nec bibendum
                lobortis.
            </p>
            <p>
                Nulla suscipit cursus dolor quis convallis. Quisque imperdiet tortor vel ex dictum, non eleifend est
                luctus.
                Nam lacinia lorem risus, id vehicula urna sollicitudin suscipit. Sed nec erat sem. Pellentesque
                consequat,
                felis ac faucibus ultricies, lorem nunc mattis lectus, a lobortis neque lorem lacinia sem. Morbi
                tincidunt
                libero velit, quis venenatis lorem fermentum at. Etiam arcu ex, laoreet eu orci sed, consequat convallis
                ante. In sodales erat et eros cursus, non sollicitudin purus dictum. Quisque varius eget nibh vitae
                tincidunt. Aenean eu ante quis magna gravida condimentum id eget ex. Fusce tempor vitae magna pulvinar
                molestie. Nulla id sollicitudin metus. Quisque at egestas tellus. Aliquam mattis nisl elit, a malesuada
                urna
                luctus at.
            </p>
            <p>
                Curabitur eget maximus elit. Nulla rhoncus dapibus augue, mattis mattis dui sollicitudin at. Suspendisse
                at
                posuere tortor, vel viverra purus. Integer bibendum quam non lacus pharetra bibendum. Aliquam id eros eu
                nisl efficitur elementum vel ut ex. Pellentesque ullamcorper nunc at blandit dictum. Phasellus fermentum
                magna quis nulla rutrum, sit amet porttitor lorem semper. Cras imperdiet, arcu non hendrerit vehicula,
                ex
                arcu viverra enim, eu aliquet sapien enim sit amet nulla.
            </p>
            <p>
                Mauris facilisis id nunc quis interdum. Proin semper nisl turpis, id pretium nulla auctor eget. Integer
                eget
                mi vitae diam euismod fermentum. Integer sed ullamcorper orci, ut dapibus massa. Donec aliquet lobortis
                augue vitae sagittis. Donec pellentesque consectetur suscipit. Pellentesque molestie augue in odio
                placerat,
                in porttitor dolor posuere. Suspendisse a pulvinar est. Fusce augue nisl, eleifend nec nisi vel, finibus
                auctor nunc. In aliquam imperdiet ex. Curabitur malesuada orci dolor. Vivamus ultrices congue risus, id
                aliquam ligula egestas in.
            </p>
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Suspendisse
                vestibulum quam enim, in elementum turpis fringilla faucibus. In in lorem eget felis eleifend sagittis
                volutpat quis est. Duis vestibulum felis vitae neque cursus luctus. Class aptent taciti sociosqu ad
                litora
                torquent per conubia nostra, per inceptos himenaeos. Pellentesque sit amet feugiat nunc. Ut ullamcorper
                orci
                vel erat faucibus fringilla. Nullam viverra ante lorem, eget interdum nulla egestas id. Cras faucibus
                dui
                quis urna tristique, nec efficitur tellus sodales. Integer quis aliquet risus, ut feugiat mauris.
                Vestibulum
                a nibh ac ligula finibus sodales. Donec nibh tortor, consectetur non vestibulum sit amet, gravida vitae
                augue. In hac habitasse platea dictumst. Ut sit amet sollicitudin leo, at lacinia leo. Nunc volutpat
                nibh
                vitae massa tristique, nec aliquet justo condimentum.
            </p>
            <p>
                Nullam non tristique sem. Etiam velit magna, tincidunt id molestie vel, maximus a odio. Etiam finibus
                quis
                massa et tincidunt. Suspendisse enim ante, bibendum ut nunc in, molestie elementum augue. Suspendisse
                scelerisque lorem ut lacus venenatis, ut placerat neque finibus. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Vivamus convallis velit mi. Duis eu ex diam.
            </p>
            <p>
                Vivamus id enim vel eros pretium molestie. Nunc iaculis, est sed dictum viverra, sapien urna vestibulum
                felis, non pellentesque metus est quis mi. Curabitur a aliquet augue. Vestibulum commodo, eros id
                blandit
                dapibus, massa libero ultrices magna, pharetra fringilla leo dolor ut nisl. Donec vel fermentum justo,
                vel
                vulputate diam. Morbi ipsum eros, pellentesque vel purus ac, tempor pulvinar purus. Ut fermentum diam
                sem,
                eget lobortis mauris mattis at. Vivamus eu scelerisque magna. Fusce sagittis bibendum tincidunt. Quisque
                mattis, nisi ut accumsan imperdiet, purus lorem tristique quam, quis semper felis enim in nibh. Mauris
                tristique nec felis vitae egestas. Pellentesque rutrum leo id lectus placerat, a scelerisque risus
                vulputate. Donec pellentesque efficitur velit at condimentum. Proin eget nisi pretium, lobortis velit a,
                molestie leo. Duis lorem augue, varius a ultricies a, venenatis eget metus.
            </p>
            <p>
                Aenean elementum congue eros, sit amet faucibus ligula euismod interdum. Aliquam ut quam lobortis,
                feugiat
                dui tempor, convallis ipsum. Phasellus mattis felis sem, in tristique lectus egestas at. Etiam eget
                dolor
                pulvinar, viverra leo quis, efficitur eros. Donec et urna sapien. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas. Proin euismod neque ligula, at aliquet ligula
                ornare
                quis. Praesent dapibus pellentesque lectus feugiat interdum. Pellentesque habitant morbi tristique
                senectus
                et netus et malesuada fames ac turpis egestas. Mauris aliquet maximus ultrices. Morbi finibus tempus
                lectus,
                ac gravida nunc ultricies sit amet.
            </p>
            <p>
                Mauris nec augue luctus, hendrerit arcu ut, vehicula nunc. Praesent interdum, erat non tempor luctus,
                quam
                augue tincidunt lorem, vel vestibulum dui felis vitae est. Curabitur eleifend lorem sed sodales
                eleifend.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut commodo
                dolor diam, et suscipit libero eleifend quis. Morbi egestas pulvinar tortor sed varius. Nunc hendrerit
                nulla
                vel nisl faucibus, sed hendrerit dolor gravida.
            </p>
            <p>
                Aenean lobortis, ex id eleifend aliquet, lectus nibh bibendum erat, et blandit libero eros non quam.
                Etiam
                tincidunt orci eu rutrum viverra. Cras eu euismod ligula, in interdum est. Suspendisse potenti. Morbi
                turpis
                nisi, ultrices in ex vel, lacinia mollis sapien. Proin ornare justo id lectus rutrum, et euismod nunc
                convallis. Cras scelerisque mattis purus, id bibendum tortor tristique sed. Aenean placerat nisl eros,
                eget
                cursus lectus varius vitae. In tristique, magna sit amet lobortis porttitor, diam lectus pulvinar nisi,
                a
                ullamcorper tortor mauris et lectus. Quisque id nisi ut leo placerat iaculis. Nulla quis libero orci.
                Quisque ac ante magna. Suspendisse sit amet erat faucibus, facilisis elit mattis, scelerisque nisl.
            </p>
            <p>
                Curabitur malesuada vulputate volutpat. Quisque tincidunt lectus vitae odio sagittis, id rutrum nulla
                sollicitudin. Phasellus ac elit et nibh mattis interdum. Cras nec tortor at justo pellentesque
                facilisis.
                Nam ut pellentesque leo, ac luctus justo. Donec ornare felis vel ultrices dictum. Nam nunc lacus,
                ullamcorper nec fringilla eu, auctor eget massa. Fusce iaculis ligula vel ante egestas, a congue urna
                porttitor. Curabitur accumsan efficitur sem, vitae pharetra quam viverra quis. Vestibulum et blandit
                libero.
                Proin vitae leo quis libero bibendum porttitor. Duis iaculis ac erat eget vehicula. Nam efficitur et
                diam
                eget semper. Duis ullamcorper, eros eget efficitur congue, massa leo molestie arcu, sit amet feugiat
                magna
                risus id lacus. Vivamus a diam tortor. Nullam aliquet leo a orci molestie, vitae vulputate enim tempor.
            </p>
            <p>
                Sed congue nunc sem, nec euismod urna dapibus tincidunt. Sed condimentum, felis at lacinia aliquam,
                turpis
                diam semper lacus, nec tincidunt libero nulla id dolor. Vivamus eget aliquet mi. Proin felis metus,
                ultricies at nisi eu, cursus sollicitudin mi. Duis tortor nisl, sollicitudin vitae facilisis in,
                consequat
                in nibh. Aliquam cursus massa risus, a porta justo fringilla finibus. Cras mollis malesuada magna et
                semper.
                Duis eleifend tempor ex. Duis in ex sem.
            </p>
            <p>
                Duis condimentum ullamcorper tortor, sit amet convallis sapien viverra in. Sed non faucibus enim. Aenean
                porta est sed faucibus finibus. Vestibulum sit amet ligula cursus, fringilla mi nec, ornare enim.
                Suspendisse potenti. Mauris id tortor elit. Nullam gravida purus eget lacus suscipit varius.
                Pellentesque
                lacinia mi id ex dictum egestas. Sed posuere ex quis pharetra rhoncus. Sed finibus massa sed odio
                finibus
                ultrices. Pellentesque scelerisque a ante a consectetur. Donec et justo dolor. Nunc id tincidunt erat.
                Sed
                gravida eros in leo imperdiet vehicula. In sit amet sem pulvinar, auctor lorem eu, commodo est.
            </p>
            <p>
                Proin tincidunt massa sed sapien tempus tristique. Cras facilisis ultrices ante et fringilla. Sed
                suscipit
                eget sapien nec rhoncus. Vestibulum ligula neque, tempor sed tincidunt vitae, blandit et libero. Etiam
                sed
                convallis neque, ac maximus dui. Aliquam ac nisl eu lectus pellentesque efficitur quis non neque. Proin
                turpis mauris, consectetur non egestas a, fringilla et felis. Quisque nibh diam, venenatis ac viverra
                non,
                interdum sit amet nisi. Cras vel hendrerit lectus. Donec ac viverra leo, et ultrices tellus. Proin
                ultricies
                nunc iaculis mauris dictum consequat. Proin et lacinia velit. In molestie elit felis, consequat
                dignissim
                est luctus et.
            </p>
        </mat-card-content>
    </div>
</mat-card>