<mat-toolbar>
  <div>
    <button mat-mini-fab color="primary" (click)="menuClicked.emit(true)">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span>&nbsp;{{ title }}</span>
  <span class="spacer"></span>
  <div>
    <button mat-mini-fab color="basic" (click)="darkModeChange.emit(!darkMode)">
      <mat-icon>{{ darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </div>
  &nbsp;
  <div>
    <button mat-mini-fab color="basic" (click)="settingsClicked.emit(true)">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  &nbsp;
  <div>
    <button mat-mini-fab color="basic" (click)="helpClicked.emit(true)">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</mat-toolbar>