.tefa-container {
  background-color: lightgray;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 40% 60%;
  height: 100%;
}

.facility-group-names-list {
  height: 90%;
  overflow-y: scroll;
}

.mat-list-item {
  height: unset;
}
