mat-sidenav-container {
  height: 100%;
}

.app-container {
  background-color: darkgrey;
  display: grid;
  grid-template: max-content max-content 1fr max-content max-content / 1fr;
  height: 100%;
}

.app-content {
  height: 100%;
  overflow: auto;
}