<div class="hw100 {{ darkMode ? 'dark-theme' : '' }}">
  <!--<div class="mat-app-background">-->
  <mat-sidenav-container style="height: 100%" class="mat-app-background">
    <mat-sidenav #sidenav>
      <div style="margin: 4px">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-list>
          <mat-list-item>
            <a routerLink="/home" (click)="sidenav.toggle()">Home</a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/openlayers" (click)="sidenav.toggle()">Open Layers</a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/rollup" (click)="sidenav.toggle()">Rollup</a>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="app-container">
        <div>
          <app-header [showMenuButton]="showMenuButton" (helpClicked)="showHelp()" (menuClicked)="sidenav.toggle()"
            (settingsClicked)="showSettings()" [(darkMode)]="darkMode">
          </app-header>
        </div>
        <div>
          <app-classification-banner></app-classification-banner>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
        <div>
          <app-classification-banner></app-classification-banner>
        </div>
        <div>
          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--</div>-->
</div>