<div class="hw100 {{ darkMode ? 'dark-theme' : '' }}">
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-toolbar>
        <div>
          <button mat-mini-fab color="basic" (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <mat-list>
        <mat-list-item>
          <a routerLink="/home" (click)="sidenav.toggle()">Home</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/openlayers" (click)="sidenav.toggle()">Open Layers</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/rollup" (click)="sidenav.toggle()">Rollup</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-container">
      <app-header [title]="title" (helpClicked)="showHelp()" (menuClicked)="sidenav.toggle()"
        (settingsClicked)="showSettings()" [(darkMode)]="darkMode">
      </app-header>
      <app-classification-banner></app-classification-banner>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <app-classification-banner></app-classification-banner>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>