/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ol/ol.css";
@import "./styles/theme";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 4px;
}

.hw100 {
  height: 100%;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}